<template>
  <div>
    <% if (vueRouter) { %> <router-view />
    <% } else { %> <index /> <% } %>
  </div>
</template>

<script>
<% if (!vueRouter) { %> import index from './views/page/index.vue' <% } %>
export default {
  name: "app",
<% if (!vueRouter) { %> components: {
    index
  } <% } %>
};
</script>

<style>
  :root {
    --primary-color: blue;
  }
</style>